:root {
  font-size: 13px;
}
* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
.start {
  margin: auto;
  background-color: #63738a;
  width: 550px;
  height: 500px;
  /* padding: top; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-self: center;
  /* color: white; */
}

.form_background {
  margin: auto;
  text-align: center;
  margin-top: 7%;
  background-color: #f2f3f7;
  width: 70%;
  height: 550px;
  /* padding: 30px; */
}
.header {
  padding-top: 27px;
  font-size: x-large;
  color: #00000095;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}
.header::before {
  display: block;
  width: 100px;
  content: "";
  position: absolute;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.249);
  top: 12.6%;
  right: 602px;
  margin: 0 auto;
}

.header::after {
  display: block;
  width: 100px;
  content: "";
  position: absolute;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.249);
  top: 12.6%;
  left: 602px;
}

.desc {
  color: #25242496;
  margin: 15px 25px 0 45px;
}
.form_register {
  width: 90%;
  padding-top: 4%;
  max-width: 400px;
  width: 109%;
  min-width: 300px;
  color: #25242496;
}

.checkbox_text {
  width: 20px;
}
input,
button {
  text-transform: capitalize;
  /* font-size: 15px; */
}
button {
  color: white;
  border-color: #4fa74f;
  background-color: #4fa74f;
  width: 87%;
  height: 30px;
  margin-left: -8px;
  margin-top: 10px;
  border-radius: px;
}
fieldset {
  display: flex;
  flex-direction: row;
  border: 0 none;
}

.form_links {
  color: #4fa74f;
}

.p_text,
.p_link {
  color: white;
}

input {
  /* width:  200px;
  height: 15px; */
  padding: 25px 0px 8px 10px;
  border: 1px solid #999;
  font-size: 13px;
  margin: top 9px;
}

.name_form {
  width: 45%;
  height: 15px;
  margin-left: 10px;
}

.other_info {
  width: 87%;
  height: 15px;
  margin-left: -8px;
  text-align: left;
  margin-bottom: 9px;
}
